In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Oriximina,BR,2021-05-31 19:39:58,-1.7656,-55.8661,89.60,52,8,3.89
1,1,Cabo San Lucas,MX,2021-05-31 19:37:13,22.8909,-109.9124,99.52,61,1,12.66
2,2,Avarua,CK,2021-05-31 19:36:32,-21.2078,-159.7750,75.25,64,20,5.75
3,3,Flinders,AU,2021-05-31 19:36:20,-34.5833,150.8552,48.20,88,100,1.01
4,4,Rikitea,PF,2021-05-31 19:40:00,-23.1203,-134.9692,74.43,65,0,14.12

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 90
What is the maximum temperature you would like for your trip? 100

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cabo San Lucas,MX,2021-05-31 19:37:13,22.8909,-109.9124,99.52,61,1,12.66
22,22,Riyadh,SA,2021-05-31 19:36:29,24.6877,46.7219,98.65,12,0,4.61
61,61,Atar,MR,2021-05-31 19:38:15,20.5169,-13.0499,90.10,32,99,14.83
81,81,Tessalit,ML,2021-05-31 19:40:30,20.1986,1.0114,98.64,6,2,15.08
84,84,Hilo,US,2021-05-31 19:33:01,19.7297,-155.0900,90.28,78,90,6.91
96,96,Am Timan,TD,2021-05-31 19:40:35,11.0297,20.2827,96.13,23,10,3.09
104,104,Birao,CF,2021-05-31 19:40:38,10.2849,22.7882,90.09,27,6,4.07
111,111,Coahuayana,MX,2021-05-31 19:40:42,18.7333,-103.6833,94.48,44,100,8.48
124,124,Madaoua,NE,2021-05-31 19:40:47,14.0730,5.9600,91.27,8,0,6.38
135,135,Saint George,US,2021-05-31 19:39:28,37.1041,-113.5841,96.64,10,1,1.01

In [9]:
preferred_cities_df.count()

City_ID       30
City          30
Country       30
Date          30
Lat           30
Lng           30
Max Temp      30
Humidity      30
Cloudiness    30
Wind Speed    30
dtype: int64

In [10]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Cabo San Lucas      MX     99.52  22.8909 -109.9124
22           Riyadh      SA     98.65  24.6877   46.7219
61             Atar      MR     90.10  20.5169  -13.0499
81         Tessalit      ML     98.64  20.1986    1.0114
84             Hilo      US     90.28  19.7297 -155.0900
96         Am Timan      TD     96.13  11.0297   20.2827
104           Birao      CF     90.09  10.2849   22.7882
111      Coahuayana      MX     94.48  18.7333 -103.6833
124         Madaoua      NE     91.27  14.0730    5.9600
135    Saint George      US     96.64  37.1041 -113.5841

In [11]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [12]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cabo San Lucas,MX,99.52,22.8909,-109.9124,Tesoro Los Cabos
22,Riyadh,SA,98.65,24.6877,46.7219,"InterContinental Riyadh, an IHG Hotel"
61,Atar,MR,90.10,20.5169,-13.0499,Oumou Elghoura
81,Tessalit,ML,98.64,20.1986,1.0114,
84,Hilo,US,90.28,19.7297,-155.0900,Hilo Hawaiian Hotel
96,Am Timan,TD,96.13,11.0297,20.2827,Palais du chef Canton Salamt
104,Birao,CF,90.09,10.2849,22.7882,
111,Coahuayana,MX,94.48,18.7333,-103.6833,El rranchito michuacan de ocampos
124,Madaoua,NE,91.27,14.0730,5.9600,
135,Saint George,US,96.64,37.1041,-113.5841,Best Western Plus Abbey Inn

In [14]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))